//colors
$header-color: black
$header-font: white
$form-color: gray
$sidebar-color: #99A6AB  //light blue-gray

@mixin anchor-default
  text-transform: uppercase
  color: white
  &:hover
    color: red

section, ul, h1, h3, div, header, main, nav
  box-sizing: border-box

html
  height: 100%

header, main
  width: 100%

//headings in major seconds
h1
  font-size: 1.602em

h2
  font-size: 1.424em

h3
  font-size: 1.266em
  margin: 0 0 0.5em 0

h4
  font-size: 1.125

a
  text-decoration: none















