@font-face{
  font-family: 'Fira Sans Light';
  src: url('../fonts/FiraSans-Light.eot');
  src: local('Fira Sans Light'),
    url('../fonts/FiraSans-Light.eot') format('embedded-opentype'),
    url('../fonts/FiraSans-Light.woff') format('woff'),
    url('../fonts/FiraSans-Light.ttf') format('truetype');
  font-weight: lighter;
  font-style: normal;
}
@font-face{
  font-family: 'Fira Sans';
  src: url('../fonts/FiraSans-LightItalic.eot');
  src: local('Fira Sans Light Italic'),
    url('../fonts/FiraSans-LightItalic.eot') format('embedded-opentype'),
    url('../fonts/FiraSans-LightItalic.woff') format('woff'),
    url('../fonts/FiraSans-LightItalic.ttf') format('truetype');
  font-weight: lighter;
  font-style: italic;
}
@font-face{
  font-family: 'Fira Sans';
  src: url('../fonts/FiraSans-Regular.eot');
  src: local('Fira Sans Regular'),
    url('../fonts/FiraSans-Regular.eot') format('embedded-opentype'),
    url('../fonts/FiraSans-Regular.woff') format('woff'),
    url('../fonts/FiraSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: 'Fira Sans';
  src: url('../fonts/FiraSans-Italic.eot');
  src: local('Fira Sans Regular Italic'),
    url('../fonts/FiraSans-Italic.eot') format('embedded-opentype'),
    url('../fonts/FiraSans-Italic.woff') format('woff'),
    url('../fonts/FiraSans-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face{
  font-family: 'Fira Sans';
  src: url('../fonts/FiraSans-Bold.eot');
  src: local('Fira Sans Bold'),
    url('../fonts/FiraSans-Bold.eot') format('embeddedopentyp'),
    url('../fonts/FiraSans-Bold.woff') format('woff'),
    url('../fonts/FiraSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face{
  font-family: 'Fira Sans';
  src: url('../fonts/FiraSans-BoldItalic.eot');
  src: local('Fira Sans Bold Italic'),
    url('../fonts/FiraSans-BoldItalic.eot') format('embedded-opentype'),
    url('../fonts/FiraSans-BoldItalic.woff') format('woff'),
    url('../fonts/FiraSans-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot?ngx0ec');
  src:url('../fonts/icomoon.eot?#iefixngx0ec') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?ngx0ec') format('truetype'),
    url('../fonts/icomoon.woff?ngx0ec') format('woff'),
    url('../fonts/icomoon.svg?ngx0ec#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home3:before {
  content: "\e600";
}
.icon-image:before {
  content: "\e601";
}
.icon-equalizer2:before {
  content: "\e602";
}
.icon-cog:before {
  content: "\e603";
}
.icon-plus:before {
  content: "\e604";
}
.icon-cross:before {
  content: "\e605";
}
.icon-mail:before {
  content: "\e606";
}
.icon-facebook2:before {
  content: "\e607";
}
.icon-instagram:before {
  content: "\e608";
}
.icon-twitter2:before {
  content: "\e609";
}
