<section data-ng-controller="authController">
  <form class="login-form" data-ng-submit="authSubmit(venue)">
    <label for="login-username">Email</label>
    <input type="email" id="login-username" placeholder="example@email.com" data-ng-model="venue.email" autofocus>
    <label for="login-password">Password</label>
    <input type="password" id="login-password" placeholder="******" data-ng-model="venue.password">
    <button type="submit">Log in</button>
  </form>
</section>

<!-- https://github.com/codefellows/sea-d37/blob/master/jun_4_angular_auth/app/templates/views/sign_in.html -->
