<section data-ng-controller="showsController" data-ng-init="getShow()">
  <form class="show-form" data-ng-attr-id="{{show._id}}" data-ng-submit="submitForm(show)">
    <ul>
      <li>
        <label for="show-title">Show Title/Heading</label>
        <input type="text" id="show-title" placeholder="{{show.showTitle}}" data-ng-model="show.showTitle" autofocus>
      </li>
      <li>
        <label for="show-date">Date</label>
        <input type="date" id="show-date">
      </li>
      <li>
        <label for="show-venue">Venue</label>
        <input type="text" id="show-venue" placeholder="{{show.venue}}" data-ng-model="show.venue">
      </li>
      <li>
        <label for="show-description">Description/Details</label>
        <textarea id="show-description" placeholder="{{show.description}}" data-ng-model="show.description"></textarea> <!-- description/details? -->
      </li>
      <li>
        <label for="show-bands">Artists</label>
        <input type="text" id="show-bands" placeholder="{{show.bands}}" data-ng-model="show.bands">
      </li>
      <li>
        <label for="show-cost">Admission</label>
        <span class="show-cost_span">$<input type="number" id="show-cost" placeholder="{{show.cost}}" data-ng-model="show.cost"> (whole dollars)</span>
      </li>
      <li>
        <label for="show-time">Time</label>
        <input type="text" id="show-time" placeholder="{{show.time}}" data-ng-model="show.time">
      </li>
      <li>
        <input type="checkbox" id="show-age" value="true" placeholder="{{show.age}}" data-ng-model="show.age">
        <label for="show-age">All-Ages</label>
      </li>
      <li>
        <label for="show-image">Show Image (link to, for now)</label>
        <input type="text" id="show-image" placeholder="{{show.image}}" data-ng-model="show.image">
      </li>
      <li>
        <label for="show-social">Event Link (Facebook, etc.)</label>
        <input type="text" id="show-social" placeholder="{{show.social}}" data-ng-model="show.social">
      </li>
      <li>
        <button data-ng-click="offEdit(show)">Cancel</button>
        <button data-ng-click="saveShow(show)">Update Show</button>
      </li>
    </ul>
  </form>
</section>
