<section data-ng-controler="showsController" class="show-info-container">

    <article data-ng-attr-id="{{show._id}}" data-ng-style="{'background-image':'url({{show.image}})'}">
      <div class="show-info_top">
        <h2 class="show-info_title">{{show.showTitle}}</h2>
        <span class="show-info_absolute-corner">
          <h2>{{show.date | date: 'EEE, M/dd'}}</h2>
          <h2 class="show-info_if-all-ages" data-ng-show="show.age">All-Ages!</h2>
        </span>
      </div>
      <div>
        <div class="show-info_description">
          <h3>{{show.bands}}</h3>
          <p>{{show.description}}</p>
        </div>
        <h4 class="show-info_footer">
          <span>{{show.time}},</span>
          <span>${{show.cost}}</span>
        </h4>
      </div>
    </article>

</section>

