<section data-ng-controler="showsController" class="show-view-container">
  <article data-ng-repeat="show in shows | orderBy: '-date' : !reverse" class="show-card" data-ng-attr-id="{{show._id}}" data-ng-style="{'background-image':'url({{show.image}})'}">
    <div class="show-card_top">
      <h2 class="show-card_title">{{show.showTitle}}</h2>
      <span class="show-card_absolute-corner">
        <h2 class="show-card_date">{{show.date | date: 'EEE, M/dd'}}</h2>
        <h2 class="show-card_if-all-ages" data-ng-show="show.age">All-Ages!</h2>
      </span>
    </div>
    <div>
      <div class="show-card_description">
        <h3>{{show.bands}}</h3>
        <p>{{show.description}}</p>
      </div>
      <h4 class="show-card_footer">
        <span>{{show.time}},</span>
        <span>${{show.cost}}</span>
        <span>{{show.social}}</span>
      </h4>
    </div>
  </article>
</section>

