<section data-ng-controller="showsController" data-ng-init="getAllShows()" class="show-view-container">

    <article data-ng-repeat="show in shows | orderBy: '-date' : !reverse" class="show-card" data-ng-attr-id="{{show._id}}" data-ng-style="{'background-image':'url({{show.image}})'}">
      <a data-ng-click="show.clicked = true">
        <div data-ng-if="!show.clicked">
          <div class="show-card_top">
            <h2 class="show-card_title">{{show.showTitle}}</h2>
            <span class="show-card_absolute-corner">
              <h2>{{show.date | date: 'EEE, M/dd'}}</h2>
              <h2 class="show-card_if-all-ages" data-ng-show="show.age">All-Ages!</h2>
            </span>
          </div>
          <div>
            <div class="show-card_description">
              <h3>{{show.bands}}</h3>
              <p>{{show.description}}</p>
            </div>
            <h4 class="show-card_footer">
              <span>{{show.time}},</span>
              <span>${{show.cost}}</span>
            </h4>
          </div>
        </div>
      </a>

      <div data-ng-if="show.clicked" class="show-fullview">
        <button data-ng-click="show.clicked = false">X</button>
        <div data-ng-if="isSignedIn">
          <button>Edit</button>
          <button>Delete</button>
        </div>
        <h1>Test Header</h1>
        <div class="show-info_poster" data-ng-style="{'background-image':'url({{show.image}})'}"></div>
        <h2 class="show-info_title">{{show.showTitle}}</h2>
        <h2>{{show.date | date: 'EEE, M/dd'}}</h2>
        <h2 class="show-info_if-all-ages" data-ng-show="show.age">All-Ages!</h2>
        <h3>{{show.bands}}</h3>
        <p>{{show.description}}</p>
        <!-- data-ng-controler="venueController" -->
        <div>
          <h2>{{show.venue}}</h2>
          <h2>{{venue.address}}</h2>
          <h2>{{venue.name}}</h2>
          <h2>{{venue.website}}</h2>
        <div>
        <h4>
          <span>{{show.time}},</span>
          <span>${{show.cost}}</span>
          <a data-ng-href="{{show.social}}">Facebook Event</a><span>${{show.cost}}</span>
        </h4>
      </div>
    </article>



</section>

