//header
header
  background-color: $header-color
  color: $header-font

.header_h1
  margin: 0 0 0 0.5em
  width: 8em

.header_login
  margin: 0 1em
  width: 9em
  a
    margin: 0 0.25em
    @include anchor-default
  input, button
    color: black

// left sidebar
.left-sidebar
  width: 12em
  padding: 1em
  background-color: $sidebar-color

.left-sidebar_ul
  list-style: none
  line-height: 1.5em
  margin: 0 0 2em 0
  a
    @include anchor-default

//show list cards
.show-card
  position: relative
  max-width: 22em
  min-width: 19.5em
  margin: 0.5em
  overflow: hidden
  background-size: 100%

.show-card_top
  position: relative
  color: white
  text-shadow: 1px 1px 2px black
  height: 8em
  padding: 0.25em

.show-card_absolute-corner
  position: absolute
  bottom: 0.5em
  right: 0
  padding: 0.25em
  background-color: rgba(2,2,40,0.7)
  h2
    font-size: 1em

.show-card_if-all-ages
  margin: 0.5em 0 0 0

.show-card_description
  background-color: rgba(240,240,240,0.7)
  height: 4em
  padding: 0.25

.show-card_footer
  background-color: rgba(2,2,40,0.7)
  color: white
  padding: 0.25em

//full view for shows
.show-fullview
  width: 100%
  margin: 1em
  background-color: rgba(2,2,40,0.7)

.show-fullview_poster
  max-width: 12em
  max-height: 12em
  float: right

//forms
input, label, textarea, button
  cursor: pointer

input[type=date]
  display: block

input[type=text], .show-cost_span, textarea
  @extend input[type=date]
  width: 95%

  //new show form
.show-view-container
  @include flex-row-wrap
  @include flex-align-default

.show-form
  width: 80%
  box-sizing: border-box
  margin: 1em auto
  text-align: left
  background-color: $form-color
  ul
    list-style: none
  li
    padding: 0.5em

//new venue form
.venue-form, .band-form, .login-form
  @extend .show-form

//venue card
.venue-card
  width: 80%
  background-color: rgba(2,2,40,0.7)
  background-size: auto 100%
  color: white
  text-shadow: 1px 1px 2px black
  ul
    list-style: none
  li
    padding: 0.5em
  h3
    font-size: 1em
  h4
    font-size: 0.8em
  button
    color: black

