@mixin flex-container($fDirection, $fWrap, $fJustifyContent, $fAlignContent, $fAlignItems)
  display: flex
  display: -webkit-flex
  display: -ms-flex
  flex-direction: $fDirection
  -webkit-flex-direction: $fDirection
  -ms-flex-direction: $fDirection
  flex-wrap: $fWrap
  -webkit-flex-flow: $fDirection $fWrap
  -ms-flex-flow: $fDirection $fWrap
  justify-content: $fJustifyContent
  -webkit-justify-content: $fJustifyContent
  -ms-justify-content: $fJustifyContent
  align-content: $fAlignContent
  -webkit-align-content: $fAlignContent
  -ms-align-content: $fAlignContent
  align-items: $fAlignItems
  -webkit-align-items: $fAlignItems
  -ms-align-items: $fAlignItems

@mixin flex-box($fGrow, $fShrink, $fBasis)
  flex-grow: $fGrow;
  -webkit-flex-grow: $fGrow;
  -ms-flex-grow: $fGrow;
  flex-shrink: $fShrink;
  -webkit-flex-shrink: $fShrink;
  -ms-flex-shrink: $fShrink;
  flex-basis: $fBasis;
  -webkit-flex-basis: $fBasis;
  -ms-flex-basis: $fBasis;

html, body
  height: 100%

main
  width: 100%

body
  position: relative
  @include flex-container(row, wrap, flex-start, stretch, stretch)

header
  height: 3em
  width: 100%
  position: absolute
  top: 0

@mixin default-button-input
  height: 1.25em
  border-radius: 0.25em
  border: none

.main_right
  @include flex-box(1, 0, 12.5em)
  overflow: auto

.flex-grow-right
  text-align: right
  @include flex-box(1, 0, 12.5em)


.header_content
  max-width: 60em
  @include flex-container(row, nowrap, space-between, center, center)

.main-container
  height: 100%
  padding-top: 3em
  overflow: hidden
  @include flex-container(row, wrap, flex-start, stretch, stretch)

