<!doctype html>
<html class="no-js" lang="EN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>The Showlist</title>
    <meta name="description" content="a place to find out about live music evewnts and shows">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="css/application.css">
    <!-- <script src="js/vendor/modernizr-2.8.3.min.js"></script> -->
  </head>
  <body data-ng-app="showlistApp">
    <header class="container">
      <h1 class="header_h1">Show List</h1>
      <section data-ng-controller="authController" class="flex-grow-right header_login">
        <form data-ng-submit="authSubmit(venue)" data-ng-if="!isSignedIn">
          <label for="login-username">Email</label>
          <input type="email" id="login-username" placeholder="example@email.com" data-ng-model="venue.email" autofocus>
          <label for="login-password">Password</label>
          <input type="password" id="login-password" placeholder="******" data-ng-model="venue.password">
          <button type="submit" data-ng-click="signedIn()">Log in</button>
        </form>
        <a href="#/shows" data-ng-if="isSignedIn" data-ng-click="signOut()">Log Out</a>
      </section>
    </header>
    <main class="main-container" data-ng-init="getAll()">
      <section data-ng-controller="authController" class="left-sidebar">
        <h3>Site Navigation</h3>
        <ul class="left-sidebar_ul">
          <li>
            <a href="#/shows">Shows View</a>
          </li>
          <li>
            <a href="#/new-show" data-ng-if="isSignedIn">New Show</a>
          </li>
          <li>
            <a href="#/new-venue" data-ng-if="isSignedIn">New Venue</a>
          </li>
          <li>
            <a href="#/venue/venue-view" data-ng-if="isSignedIn">Venue Profile</a>
          </li>
          <li>
            <a href="#/new-band" data-ng-if="isSignedIn">New Band</a>
          </li>
        </ul>
        <h3>Sort Options</h3>

      </section>
      <div class="main_right" data-ng-view></div>
    </main>

    <script src="js/bundle.js"></script>

  </body>
</html>
