<section data-ng-controller="venueController">
  <form class="venue-form" data-ng-submit="submitForm(venue)">
    <ul>
      <li>
        <label for="venue-name">Venue Name</label>
        <input type="text" id="venue-name" placeholder="Venue" data-ng-model="venue.name" autofocus>
      </li>
      <li>
        <label for="venue-location">Location</label>
        <input type="text" id="venue-location" placeholder="City or Region" data-ng-model="venue.location">
      </li>
      <li>
        <label for="venue-website">Website</label>
        <input type="text" id="venue-website" placeholder="http://" data-ng-model="venue.website">
      </li>
      <li>
        <label for="venue-social">Facebook Page</label>
        <input type="text" id="venue-social" placeholder="http://facebook.com/" data-ng-model="venue.social">
      </li>
      <li>
        <label for="venue-address">Address</label>
        <textarea id="venue-address" data-ng-model="venue.address"></textarea>
      </li>
      <li>
        <label for="venue-image">Background Image (link to, for now)</label>
        <input type="text" id="venue-image" placeholder="http://" data-ng-model="venue.image">
      </li>
      <li>
        <label for="venue-contact">Contact Info</label>
        <textarea id="venue-contact" data-ng-model="venue.contact"></textarea>
      </li>
      <li>
        <label for="venue-username">User Name</label>
        <input type="username" id="venue-username" placeholder="coolguy123" data-ng-model="venue.userName">
      </li>
      <li>
        <label for="venue-email">Login Email</label>
        <input type="email" id="venue-email" placeholder="example@mail.com" data-ng-model="venue.email">
      </li>
      <li>
        <label for="venue-password">Login Password</label>
        <input type="password" id="venue-password" placeholder="*****" data-ng-model="venue.password">
      </li>
      <li>
        <button type="submit">Create New Venue</button>
      </li>
    </ul>
  </form>
</section>




