<section data-ng-controller="venueController">
  <div data-ng-if="!venue.editing">
    <ul>
      <li>
        {{venue.name}}
      </li>
      <li>
        {{venue.location}}
      </li>
      <li>
        {{venue.website}}
      </li>
      <li>
        {{venue.social}}
      </li>
      <li>
        {{venue.address}}
      </li>
      <li>
        {{venue.image}}
      </li>
      <li>
        {{venue.contact}}
      </li>
      <li>
        {{venue.email}}
      </li>
      <li>
        <button data-ng-click="edit(venue)">Edit</button>
      </li>
    </ul>
  </div>

  <div data-ng-if="venue.editing">
    <form class="venue-form">
      <ul>
        <li>
          <label for="venue-name">Venue Name</label>
          <input type="text" id="venue-name" placeholder="Venue" data-ng-model="venue.name" autofocus>
        </li>
        <li>
          <label for="venue-location">Location</label>
          <input type="text" id="venue-location" placeholder="City or Region" data-ng-model="venue.location">
        </li>
        <li>
          <label for="venue-website">Website</label>
          <input type="text" id="venue-website" placeholder="http://" data-ng-model="venue.website">
        </li>
        <li>
          <label for="venue-social">Facebook Page</label>
          <input type="text" id="venue-social" placeholder="http://facebook.com/" data-ng-model="venue.social">
        </li>
        <li>
          <label for="venue-address">Address</label>
          <textarea id="venue-address" data-ng-model="venue.address"></textarea>
        </li>
        <li>
          <label for="venue-image">Background Image (link to, for now)</label>
          <input type="text" id="venue-image" placeholder="http://" data-ng-model="venue.image">
        </li>
        <li>
          <label for="venue-contact">Contact Info</label>
          <textarea id="venue-contact" data-ng-model="venue.contact"></textarea>
        </li>
        <li>
          <label for="venue-email">Login Email</label>
          <input type="email" id="venue-email" placeholder="example@mail.com" data-ng-model="venue.email">
        </li>
        <li>
          <label for="venue-password">Login Password</label>
          <input type="password" id="venue-password" placeholder="*****" data-ng-model="venue.password">
        </li>
        <li>
          <button data-ng-click="venue.editing = false">Cancel</button>
          <button data-ng-click="update(venue)">Update</button>
        </li>
      </ul>
    </form>
  </div>
</section>
