$header-color: black
$header-font: white
$form-color: gray
$sidebar-color: #99A6AB

section, ul, h1, h3, div, header, main, nav
  box-sizing: border-box

html
  height: 100%

body
  max-width: 60em
  margin: 0 auto
  height: 100%
  position: relative
  align-content: stretch
  align-items: stretch

header, main
  width: 100%

header
  background-color: $header-color
  color: $header-font
  position: absolute
  top: 0

h1
  font-size: 1.602em

h2
  font-size: 1.424em

h3
  font-size: 1.266em
  margin: 0 0 0.5em 0

h4
  font-size: 1.125

a
  text-decoration: none
  text-transform: uppercase
  color: white
  &:hover
    color: red

.left-sidebar
  width: 12em
  padding: 1em
  background-color: $sidebar-color

.left-sidebar_ul
  list-style: none

.main_right
  width: 300px
  flex-grow: 1
  flex-shrink: 0
  flex-basis: 200px
  overflow: scroll

input, label, textarea, button
  cursor: pointer

input[type=date]
  display: block

input[type=text], .show-cost_span, textarea
  @extend input[type=date]
  width: 95%

.show-form
  width: 80%
  box-sizing: border-box
  margin: 1em auto
  text-align: left
  background-color: $form-color
  ul
    list-style: none
  li
    padding: 0.5em

header
  height: 3em

.header_h1
  margin: 0 0 0 0.5em

.header_nav-links
  margin: 0 1em
  a
    margin: 0 0.25em

.container
  display: flex
  flex-direction: row
  flex-wrap: nowrap
  justify-content: space-between
  align-content: center
  align-items: center

.flex-item-1
  width: 8em

.flex-item-2
  text-align: right
  width: 9em
  flex-grow: 1
  flex-shrink: 0
  flex-basis: 200px

.main-container
  display: flex
  flex-direction: row
  flex-wrap: nowrap
  justify-content: flex-start
  align-content: stretch
  align-items: stretch
  height: 100%
  padding-top: 3em
  overflow: hidden

.show-card
  position: relative
  width: 22em
  margin: 0.5em

.show-card_top
  color: white
  text-shadow: 1px 1px 2px black
  height: 8em


