section, ul, h1, h3, div, header, main, nav
  border: 1px solid black

body
  max-width: 60em
  margin: 0 auto

header, main
  width: 100%

.left-sidebar
  width: 14em
  height: 80em
  display: inline-block

.showlist
  width: 75%
  display: inline-block
  height: 100%
